.listening {
  text-align: center;
  max-width: 700px;
  margin: calc(var(--spacer) * 2) auto 0 auto;
  justify-content: center;
}

.listening__text {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

.listening__points {
  font-weight: bold;
}

.listening__sound {
  display: inline-flex;
  cursor: pointer;
}

.listening__sentence {
  text-align: center;
  display: inline-block;
  line-height: 2.5rem;
  margin: 1rem 0 2rem 0;
}

input[type='text'] {
  padding: 0.5rem 0.5rem;
  border: 2px solid var(--c-accent);
  border-radius: 5px;
  margin: 0 0.5rem;
}

.listening__feedback--negative {
  margin-bottom: 2rem;
}

.listening__solution--bold {
  font-weight: bold;
}

.listening__solution {
  display: inline;
}

/* icons */
.listening__speaker {
  border-radius: 50%;
  display: block;
  margin: auto;
  min-height: 2.5rem;
  cursor: pointer;
}

.listening__check {
  background-color: #028c87;
  border-radius: 50%;
  min-height: 3rem;
  margin: auto;
  margin-bottom: 2rem;
}

.listening__cross {
  background-color: #fe7597;
  border-radius: 50%;
  vertical-align: middle;
  min-height: 2rem;
}

/* navigation */
.listening__button {
  margin-bottom: var(--spacer);
}

@media screen and (min-width: 576px) {
  .listening__buttons {
    display: flex;
    justify-content: center;
  }

  .listening__button:not(:last-child) {
    margin-right: var(--spacer);
  }
}

/* picture */
.listening__programmer {
  border-radius: 10px;
  max-width: 90%;
}

.listening__result--big {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0;
}

.listening__victory {
  max-width: 90%;
}

/* animation */
.listening__loader {
  height: 2.5rem;
  display: flex;
  align-items: center;
  position: relative;
  left: 2rem;
}
.listening__loader .listening__stroke {
  display: block;
  position: relative;
  background: #344852;
  height: 100%;
  width: 8px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.2s linear infinite;
}
@keyframes animate {
  50% {
    height: 20%;
  }
  100% {
    height: 100%;
  }
}
.listening__stroke:nth-child(1) {
  animation-delay: 0s;
}
.listening__stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.listening__stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.listening__stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.listening__stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.listening__stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.listening__.stroke:nth-child(7) {
  animation-delay: 0s;
}
