.about {
  max-width: 700px;
  margin: calc(var(--spacer) * 2) auto 0 auto;
}

.form {
  width: 100%;
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

.form-field {
  margin-bottom: var(--spacer);
}

.form-field label {
  display: block;
  margin-bottom: calc(var(--spacer) / 2);
}

input[type='text'].form-field__name,
.form-field__email,
.form-field__message {
  padding: 0.5rem 0.5rem;
  border: 2px solid var(--c-accent);
  border-radius: 5px;
  margin: 0;
  font-size: 1rem;
  font-family: var(--font);
}

.form-field__email,
.form-field__name {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .form-field__email,
  .form-field__name {
    width: 330px;
  }
}

.form-field__message {
  width: 100%;
  height: 10rem;
}