.footer {
  background-color: var(--c-accent);
  padding: var(--spacer);
  margin-top: calc(var(--spacer) * 2);
}

.footer__text {
  text-align: center;
  color: var(--c-bckgr-primary);
  font-family: var(--font);
  font-size: 1rem;
  margin: 0;
}

.footer__text:not(:last-child) {
  margin-bottom: 0.5em;
}

.footer__text a {
  color: var(--c-bckgr-primary);
}