.choice {
  text-align: center;
  max-width: 700px;
  margin: calc(var(--spacer) * 2) auto 0 auto;
  justify-content: center;
}

.choice__points {
  font-weight: bold;
}

/* assignment */
.choice__text {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

.choice__sentence {
  text-align: center;
  display: inline-block;
}

input[type='radio'] {
  margin: 0.5rem;
}

.choice__label {
  margin-right: 1.5rem;
  margin-bottom: 0.625rem;
  display: block;
}

@media screen and (min-width: 576px) {
  .choice__options {
    display: flex;
    justify-content: center;
  }
}

/* feedback */
.choice__feedback {
  margin: 2rem;
}

.choice__solution {
  display: inline;
}

.choice__solution--bold {
  font-weight: bold;
}

/* icons */
.choice__check {
  background-color: #00dfc0;
  border-radius: 50%;
  min-height: 3rem;
}

.choice__cross {
  background-color: #fe7597;
  border-radius: 50%;
  min-height: 2rem;
  vertical-align: middle;
}

/* navigation */
.choice__button {
  margin-bottom: var(--spacer);
}

@media screen and (min-width: 576px) {
  .choice__buttons {
    display: flex;
    justify-content: center;
  }

  .choice__button:not(:last-child) {
    margin-right: var(--spacer);
  }
}

/* picture */
.choice__programmer {
  border-radius: 10px;
  max-width: 60%;
}

.choice__result--big {
  font-weight: bold;
  font-size: 2rem;
}

.choice__victory {
  max-width: 70%;
  border-radius: 10px;
}
