:root {
  --spacer: 20px;
  --font: 'Sarabun', sans-serif;
  --font-heading: 'Goldman', 'Courier New', serif;
  --c-font: #344852;
  --c-font-light: #fefefe;
  --c-accent: #344852;
  --c-bckgr-primary: #fefefe;
}

html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  font-size: 100%;
  color: var(--c-font);
  line-height: 1.5;
  margin: 0;
  background-color: var(--c-bckgr-primary);
}

/* Page title */
.heading {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin: var(--spacer) 0 0 0;
  padding: 0 var(--spacer);
}

/* Text */
.text {
  margin: 1em 0;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: var(--font);
  font-size: 1.125rem;
}