.pairs {
  margin-top: calc(var(--spacer) * 2);
}

.pairs__text {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  margin: 0 auto;

  max-width: 700px;
}

.pairs__game {
  margin-top: var(--spacer);
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

.game__button-wrapper {
  display: flex;
  justify-content: center;
}

.game__wrapper {
  margin-top: var(--spacer);
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 95px);
  grid-auto-rows: 95px;
  gap: 5px;
  justify-content: center;
}

.game--cs {
  margin-top: 15px;
}


@media screen and (min-width: 576px) {
  .game {
    grid-template-columns: repeat(4, 95px);
  }
}

@media screen and (min-width: 768px) {
  .game {
    grid-template-columns: repeat(4, 120px);
    grid-auto-rows: 120px;
  }

  .game--cs {
    margin-top: var(--spacer);
  }
}

@media screen and (min-width: 992px) {
  .game__wrapper {
    display: flex;
    justify-content: center;
  }

  .game {
    grid-template-columns: repeat(3, 120px);
    grid-auto-rows: 120px;
  }

  .game__button-wrapper {
    height: 68px;
    align-items: center;
  }

  .game--cs {
    margin-left: var(--spacer);
    margin-top: 0;
  }
  
}

.pairs__button {
  background-color: #aacd7e;
  font-size: 1rem;
  margin: 2rem;
  padding: 1rem;
  width: 135px;
  border: 2px solid var(--c-accent);
  border-radius: 10px;
  text-transform: uppercase;
  color: var(--c-accent);
}